<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="">
        <div class="container text-center text-md-start">
            <div class="row ">
                <div class=" col-lg-4  mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 mt-5"></i>Shop Easy
                    </h6>
                    <p>
                        Colorful designs spark up your style
                        can trigger different emotions.
                        Discover these distinctive styles and how their colors
                        can radiate your postive vibes to the world
                                            </p>
                </div>
                <div class=" col-lg-3  mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 mt-5">Contact</h6>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        shopeasy@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +91 9878756788</p>
                    <p><i class="fas fa-print me-3"></i> +91 6787898909</p>
                </div>
           </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a>Shop Easy</a>
    </div>
</footer>
