@keyframes shakeLR {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
  }

  h3 {
    animation: shakeLR 0.5s ease-in-out infinite;
  }

  .btn{
    background-color: rgb(250, 184, 3);
  }

  .b2{
    background-color: red;
  }