<div class="row ms-1 me-1">
  <a href="" class="ms-5 mt-5" style="text-decoration: none;">Back To Home<i
      class="fa-solid fa-arrow-up-from-bracket fa-rotate-270 ms-1"></i></a>
  <div class="col-lg-3"></div>

  <div class="col-lg-6">

    <form [formGroup]="loginModel" class="mb-5 rounded">
      <h2 class="text-center">Login</h2>
      <img src="https://i.postimg.cc/HkWccw32/sign-removebg-preview.png" class="img-fluid " width="500px" alt="">
      <div class="form-floating mb-3 ms-3 me-3">
        <input formControlName="email" type="email" class="form-control" id="floatingInput"
          placeholder="name@example.com" name="email">
        <label for="floatingInput">Email </label>
      </div>
      <div *ngIf="loginModel.get('email')?.errors && loginModel.get('email')?.touched">
        <p class="text-danger text-center">*Please enter a valid email </p>
      </div>
      <div class="form-floating ms-3 me-3">
        <input formControlName="password" type="password" class="form-control" id="floatingPassword"
          placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div *ngIf="loginModel.get('password')?.errors && loginModel.get('password')?.touched">
        <p class="text-danger text-center">*Password includes letters and digits only </p>
      </div>
      <div (click)="login()" class="text-center mt-3 ms-3 me-3 "><button type="submit"
          class="btn btn-primary">Login</button></div>
      <a routerLink="/signup" class="mb-5 d-block text-center">Don't have an account?Please register here</a>
    </form>
  </div>

  <div class="col-lg-3"></div>
</div>